@media (max-width: 500px){
    .card{
        width: 300px;
        height: 460px;
    }

    .card>h1{
        color: hsl(0, 0%, 7%);
        font-size: 24px;
    }
}

@media (max-width: 405px){
    .card{
        width: 280px;
        height: 430px;
    }

    .card>h1{
        color: hsl(0, 0%, 7%);
        font-size: 24px;
    }
}